@font-face {
  font-family: 'NamumGothic';
  src: url('./NanumGothic-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'NamumGothic';
  src: url('./NanumGothic-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'NamumGothic';
  src: url('./NanumGothic-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
